@import "lib/custom.bootstrap.mixins.import.less";


// Nudge content down little bit, or it'll hide behind the header
body {
  margin-top: 70px;
  &.Widget {
    margin-top: 10px;
  }
}


// Link at the header
#login-buttons {
  a {
    color: #9d9d9d;
    text-decoration: none;
    &:active,
    &:hover {
      color: #fff;
    }
  }
  #signup-link,
  #forgot-password-link,
  .login-close-text {
    &, &:hover, &:active {
      color: #9d9d9d;
    }
  }
  #signup-link,
  #forgot-password-link {
    &:hover, &:active {
      text-decoration: underline;
    }
  }
}


// Message field
#message {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 25px;
}

.message-controls {
  display: block;
  overflow: hidden;
  clear: both;
  max-height: 0;
  .transition(max-height 0.8s ease-out);
}
.is-focused-true {
  .message-controls {
    max-height: 200px;
  }
}

.tick {
  text-align: left;
}

.tick-avatar {
  float: left;
  width: 24px;
  line-height: 24px;
  margin: 0 10px 0 0;
}
.tick-meta {
  display: block;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  &, small {
    line-height: 24px
  }
}
.tick-message {
  font-size: 17px;
  line-height: 22px;
}
